# QR_SECRET=some_long_random_string_here
# JWT_SECRET=another_long_random_string_here
# FRONTEND_URL=http://localhost:3000

$env:QR_SECRET="athleticax_qr_7f9d2c8b1e5a4f6g9h2j"
$env:JWT_SECRET="jwt_3d8f5c9a2e7b1k4m6n8p0q5r7s9t"
$env:FRONTEND_URL="http://localhost:3000"
ADMIN_KEY=change-me
QR_TTL_SECONDS=30

SMTP_USER=techunsatisfied@gmail.com
SMTP_PASSWORD=xseg roce nkue txnr
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_FROM=techunsatisfied@gmail.com